body {
    font-family: "open sans", sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: "open sans", sans-serif;
    font-weight: 700;
}

a,
i,
p {
    font-family: "open sans", sans-serif;
    text-decoration: none;
    margin: 0;
}

/*** login page start ***/

.body-main-container {
    width: 100%;
    position: fixed;
    bottom: 0px;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
}

.img-wallpaper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border: none;
    border-radius: 0rem;
    position: relative;
}

.login-wallpaper {
    width: 70%;
}

.license-container {
    position: absolute;
    bottom: 7rem;
}

.license-text-container {
    color: #b6b6b6;
    font-size: 0.8rem;
    font-weight: 500;
    font-style: italic;
}

.flex-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-container {
    padding: 5rem 10rem 5rem 10rem;
    width: 50rem;
    background-color: white;
    z-index: 1;
    margin: auto;
}

.login-title {
    text-align: center;
    color: #f1c152;
    margin: 0;
}

.login-desc {
    text-align: center;
    color: rgb(182, 182, 182);
    margin: 0.5rem 0rem 3rem 0rem;
}

.login-input-container {
    margin-bottom: 1rem;
    position: relative;
}

.login-mini-desc {
    font-size: 0.8rem;
    font-weight: 700;
    color: black;
    margin-bottom: 2px;
}
.login-icon-tooltip {
    position: absolute;
    left: 1rem;
    top: 0.7rem;
}

.input-container {
    width: 100%;
    padding: 1rem 1rem 1rem 2.5rem;
    background-color: rgb(250, 250, 250);
    border: none;
    border-radius: 5rem;
}

::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-family: "open sans", sans-serif;
}

.forgot-link-container {
    display: flex;
    justify-content: end;
    margin-top: -0.5rem;
    font-size: 0.8rem;
}

.forgot-link {
    margin: auto;
    text-decoration: none;
    color: #f1c152;
    font-weight: bold;
}

.login-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5.5rem;
}

.login-button {
    padding: 0.5rem 1rem;
    width: 20rem;
    background-color: #f1c152;
    border: none;
    border-radius: 0.2rem;
    letter-spacing: 1px;
    transition: 0.2s;
}

.login-button a {
    text-decoration: none;
    color: white;
}

.login-button:hover {
    opacity: 50%;
}

.dont-have-acc {
    text-align: center;
    margin-top: 1rem;
    color: rgb(182, 182, 182);
    font-size: 0.8rem;
}

.register-link {
    color: #f1c152;
    font-size: 0.8rem;
    font-weight: bold;
}

.back-to-login {
    z-index: 100;
    position: absolute;
    left: 5rem;
    top: 3rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
}


.back-to-login-icon {
    position: relative;
}

.back-to-login-icon-link {
    color: black;
}

.tooltip-back-to-login {
    position: absolute;
    top: 0.2rem;
    left: 2rem;
    font-size: 0.7rem;
    min-width: 8.6rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 0.2rem;
    transition: 0.15s;
    opacity: 0;
}

.back-to-login-icon:hover .tooltip-back-to-login {
    opacity: 1;
}
/*** login page end ***/

/*** Spinner Start ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease-out, visibility 0s linear 0.5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity 0.8s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.wow,
.animated {
    animation-duration: 2s !important;
}
/*** Spinner End ***/

/*** Back to top start***/
.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}

.back-to-top:hover {
    background: var(--bs-dark);
    color: var(--bs-primary);
}
/*** Back to top ends ***/

/*** Topbar Start ***/
.topbar .topbar-inner {
    height: 45px;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.5);
}

.topbar-container {
    position: fixed;
    margin-top: 2.5rem;
}

.topbar a,
.topbar a i {
    transition: 0.5s;
}

.topbar a:hover,
.topbar a i:hover {
    color: var(--bs-primary) !important;
}

/*** Topbar End ***/

/*** Navbar Start ***/
.fixed-top {
    transition: 0.5s;
}

.navbar .navbar-nav .nav-link {
    padding: 12px;
    color: var(--bs-dark);
    font-size: 17px;
    font-weight: 600;
    transition: 0.5s;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.fixed-top.bg-white .navbar .navbar-nav .nav-link:hover,
.fixed-top.bg-white .navbar .navbar-nav .nav-link.active {
    color: var(--bs-primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    vertical-align: middle;
    margin-left: 8px;
}

@media (min-width: 992px) {
    .navbar-collapse {
        background: transparent !important;
    }

    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        transition: 0.5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        background: var(--bs-light) !important;
        transition: 0.5s;
        opacity: 1;
    }
}

.navbar-toggler {
    background: var(--bs-secondary);
    color: var(--bs-light) !important;
    padding: 10px 20px;
    border: 2px solid var(--bs-primary) !important;
    box-shadow: none !important;
}

.logo-icon {
    margin-right: 0.5rem;
}


.search-box {
    width: 25rem;
    padding: 1rem 1rem 1rem 2rem;
    height: 2rem;
    border-radius: 5rem;
    border: 1px solid #f1c152;
    margin-right: 7rem;
}

.search-flex {
    align-items: center;
    display: flex;
    position: relative;
    margin: 0rem 1rem ;
}

.icon-tooltip {
    position: absolute;
    left: 0.7rem;
    top: 0.84rem;
}

.logo-title {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    color: #f1c152;
}

.profile-container {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2rem;
    position: relative;
    margin-right: 0.5rem;
    background-size: cover;
}

.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
    cursor: pointer;
}

.profile-picture:hover {
    opacity: 80%;
    transition: 0.2s;
}

.hi-tooltip {
    position: absolute;
    min-width: 8.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 0.2rem;
    bottom: -3rem;
    opacity: 0;
    transition: 0.2s;
}

.hi-text {
    font-size: 0.8rem;
    margin: 0;
}

.profile-container:hover .hi-tooltip {
    opacity: 1;
}

.logout-button {
    border: none;
    font-size: 1rem;
    border-radius: 6rem;
    font-weight: 500;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    transition: 0.15s;
    position: relative;
    background-color: white;
}

.logout-button:hover {
    color: red;
    background-color: white;
    border: none;
}

.logout-button a {
    color: #f1c152;
}

.logout-tooltip {
    position: absolute;
    min-width: 5rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 0.2rem;
    bottom: -3.1rem;
    opacity: 0;
    transition: 0.15s;
}

.logout-text {
    font-size: 0.8rem;
    margin: 0;
}

.logout-button:hover .logout-tooltip {
    opacity: 1;
}

/*** Navbar End ***/

/*** Hero Header ***/
.hero-header {
    margin-bottom: 6rem;
    padding-top: 15rem;
    padding-bottom: 6rem;
    background: url("../img/main-img.png"), center center no-repeat;
    background-size: cover;
    background-color: black;
}

.typing-demo {
    width: 36rem;
    animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    font-family: "open sans", sans-serif;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.hero-header .hero-header-inner {
    padding: 3rem;
    background: rgba(255, 255, 255, 0.5);
}

@media (max-width: 992px) {
    .hero-header {
        padding-top: 12rem;
    }
}

.hero-header .breadcrumb-item {
    font-size: 18px;
}

.game-button-flex {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    border: none;
}

.readmore-button {
    padding: 1rem;
    width: 10rem;
    margin-right: 2rem;
    border: none;
    background-color: #f1c152;
    font-weight: 500;
    color: white;
    transition: 0.3s;
    letter-spacing: 1px;
}

.readmore-button:hover {
    opacity: 50%;
}

.game-button {
    padding: 1rem;
    border-radius: 7rem;
    border: none;
    width: 3.5rem;
    background-color: #f1c152;
    color: white;
    transition: 0.3s;
}

.game-button-hover {
    position: relative;
}

.game-tooltip {
    width: 6rem;
    position: absolute;
    right: -6.5rem;
    bottom: 0.2rem;
    opacity: 0;
    transition: 0.3s;
    font-weight: bold;
    color: black;
    font-size: 1rem;
}

.game-button:hover {
    opacity: 50%;
}

.game-button-hover:hover .game-tooltip {
    opacity: 1;
    color: black;
}
/*** Hero Header ***/

/*** About Start ***/
.about a.btn.btn-light:hover {
    background: var(--bs-dark) !important;
    color: var(--bs-primary) !important;
    border: 0;
}

.about-main-container {
    width: 80rem;
    margin: auto;
    margin-bottom: 7rem;
}

.about-title-large,
.about-title,
.about-desc {
    text-align: center;
}

.about-desc {
    width: 60rem;
    margin: auto;
    color: rgb(182, 182, 182);
}

.about-title {
    padding: 0.3rem 1rem;
    width: 16rem;
    margin: auto;
    border-radius: 5rem;
    background-color: #f1c152;
    color: white;
    font-size: 1rem;
}

.about-title-large {
    margin: 1rem 0rem 2rem 0rem;
    font-size: 2rem;
}

.about-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem;
}

.child-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin: 1rem 0rem;
}

.child-flex i {
    font-size: 2rem;
    color: #f1c152;
}

.child-flex {
    padding: 2rem 1.5rem;
    width: 23.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 1rem;
    transition: 0.5s;
    cursor: pointer;
}

.child-flex:hover {
    padding: 1.5rem;
}
/*** About Ends ***/

/*** Activities Start ***/
.activities-container {
    width: 83rem;
    margin: auto;
    text-align: center;
    padding: 0rem 2rem;
    margin-bottom: 15rem;
}

.activities-medium {
    font-size: 2rem;
    color: black;
    text-align: left;
    font-weight: bold;
}

.activities-mini {
    font-size: 1.5rem;
    color: #f1c152;
    text-align: left;
}

.activities-desc-medium {
    text-align: left;
    color: rgb(182, 182, 182);
}

.activities-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

.child-flex-container {
    width: 25.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.child-img-container {
    height: 30rem;
}

.img-activities {
    width: 100%;
    object-fit: cover;
    height: 100%;
    padding: 1.5rem 1.5rem 0rem 1.5rem;
    transition: 0.5s;
    cursor: pointer;
}

.img-activities:hover {
    padding: 0;
}

.child-text-container {
    text-align: left;
    padding: 0rem 2rem 2rem 2rem;
}

.child-text-flex-container {
    display: flex;
    flex-direction: row;
    margin: 1rem 0rem 0rem 0rem;
    color: rgb(182, 182, 182);
    font-size: 0.8rem;
}

.child-text-flex-container i {
    margin-right: 0.5rem;
}

.text-margin-right {
    margin-right: 1rem;
}

.activities-title-flex {
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
}

.activities-desc-flex {
    margin: 1rem 0rem;
    color: gray;
}

.more-details-flex-button {
    padding: 0.5rem 2rem;
    font-weight: 500;
    color: white;
    background-color: #f1c152;
    border: none;
    transition: 0.15s;
}

.more-details-flex-button:hover {
    opacity: 50%;
}
/*** Activities End ***/

/* footer start  */
.main-main-container {
    background-color: black;
    padding: 5rem 8.5rem;
    position: relative;
    bottom: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin-bottom: 4rem;
}

.footer-social-link, 
.footer-newsletter-link,
.footer-title-link {
    font-size: 1rem;
    color: #f1c152;
    font-weight: bold;
    margin-bottom: 1rem;
}


.footer-phone-number {
    margin:1rem 0rem ;
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
}

.newsletter-container {
    display: flex;
    align-items: center;
}

.footer-email-container {
    padding: 0.5rem 0rem 0.5rem 1rem;
    width: 25rem;
   
}

.footer-button-container {
    padding: 0.3rem;
    border: none;
    z-index: 100;
    width: 2rem;
    background-color: #f1c152 ;
}


.logo-footer-title {
    font-size: 1.5rem;
    color: #f1c152;
    margin-bottom: 1rem;
}

.footer-desc {
    width: 20rem;
    color: white;
}

.footer-email {
    color: white;
}

.footer-email i {
    margin-right: 0.5rem;
}


.social-desc {
    margin-bottom: 1rem;
    color: white;
}

.link-text {
    display: block;
    color: white;
    margin-bottom: 1rem;
}

.social-icon {
    margin-right: 0.5rem;
    cursor: pointer;
    color: white;
}

.footer-license {
    background-color: black;
}

.footer-line{
    height: 0.02rem;
    background-color: #737373;
    margin-bottom: 0.2rem;
}

.license-text {
    text-decoration: underline;
}


/* footer ends  */

